<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.review">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scroller.ScrollerActivity" />
        <activity android:name=".distribute.DistributeActivity" />
        <activity android:name=".view.inflate.InflateActivity" />
        <activity android:name=".view.draw.MyActivity" />
        <activity android:name=".make.MakeActivity" />
        <activity android:name=".immerse.ImmerseActivity" />
        <activity android:name=".bitmap.BitmapTest" />
    </application>

</manifest>